<?xml version="1.0"?>
<root>
	<email id="docogo1@gmail.com">
		<barrack>817,487</barrack>
		<camp>826,588</camp>
		<password>corpsucks11</password>
		<deployArcher>10</deployArcher>
		<deployBarb>13</deployBarb>
		<loot>10000</loot>
		<slot>2</slot>
	</email>

	<email id="docogo.two@gmail.com">
		<barrack>817,487</barrack>
		<camp>826,588</camp>
		<password>corpsucks11</password>
		<deployArcher>10</deployArcher>
		<deployBarb>13</deployBarb>
		<loot>10000</loot>
		<slot>3</slot>
	</email>
	
	<email id="docogo34@gmail.com">
		<barrack>645,513</barrack>
		<camp>826,588</camp>
		<password>corpsucks11</password>
		<deployArcher>10</deployArcher>
		<deployBarb>13</deployBarb>
		<loot>10000</loot>
		<slot>4</slot>
	</email>
	
	<email id="docogo12@gmail.com">
		<barrack>645,513</barrack>
		<camp>826,588</camp>
		<password>corpsucks11</password>
		<deployArcher>10</deployArcher>
		<deployBarb>13</deployBarb>
		<loot>10000</loot>
		<slot>5</slot>
	</email>
	
</root>
