<?xml version="1.0" encoding="UTF-8" standalone="no"?><root>
	<upgrade>
				
		<pos id="09/19/2015 9:35 PM">
			<upgradeEmail> docogo1@gmail.com </upgradeEmail>
			<swapBack>false</swapBack>
			<xy>843,559</xy>
			<xy>767,730</xy>
			<xy>732,610</xy>
		</pos>	
		

	</upgrade>
	
	
	<active>
	
<activeEmail>docogo1@gmail.com</activeEmail><activeEmail>docogo12@gmail.com</activeEmail></active>
	
	<email id="docogo1@gmail.com">
		<barrack>817,487</barrack>
		<camp>826,588</camp>
		<password>corpsucks11</password>
		<deployArcher>10</deployArcher>
		<deployBarb>15</deployBarb>
		<loot>50000</loot>
		<slot>2</slot>
	</email>

	<email id="docogo.two@gmail.com">
		<barrack>817,487</barrack>
		<camp>826,588</camp>
		<password>corpsucks11</password>
		<deployArcher>10</deployArcher>
		<deployBarb>15</deployBarb>
		<loot>50000</loot>
		<slot>3</slot>
	</email>
	
	<email id="docogo34@gmail.com">
		<barrack>645,513</barrack>
		<camp>826,588</camp>
		<password>corpsucks11</password>
		<deployArcher>10</deployArcher>
		<deployBarb>16</deployBarb>
		<loot>50000</loot>
		<slot>4</slot>
	</email>
	
	<email id="docogo12@gmail.com">
		<barrack>645,513</barrack>
		<camp>826,588</camp>
		<password>corpsucks11</password>
		<deployArcher>10</deployArcher>
		<deployBarb>13</deployBarb>
		<loot>50000</loot>
		<slot>5</slot>
	</email>

</root>